@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
body
{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.main
{
    width: 500px;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 80px;
}
header
{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    padding: 9px;
}
.logo
{
    width: 100%;
    display: flex;
}
#logo
{
    width: 12.5px;
    height: 12.5px;
    vertical-align: center;
    margin: 3px 12px 0 5px;
}
.logo>p
{
    font-size: 14px;
    color: gray;
    font-weight:normal;
    display: flex;
}
.account-info
{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
#sign-in
{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.7);
}
.app-name
{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.account-info>p
{
    font-size: 18px;
    font-weight:normal;
    color: rgba(0, 0, 0, 0.6);
}
.app-name h4
{
    color: #1a73e8;
    margin-left: 5px;
}
.input-box
{
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;

}
form
{
    width: 400px;
}
.input-box input[type=text], .input-box input[type=password]
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid lightgray;
}
.input-box h5
{
    font-size: 13px;
    color: #1a73e8;
    margin: 5px 0px 5px 0px;
}
#agreement
{
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 40px;
}
.input-box .button
{
    width: 400px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 40px;
}
.input-box input[type=submit]
{
    background-color: #1a73e8;
    border: none;
    box-sizing: border-box;
    padding: 8px 10px 8px 10px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
.footer
{
    width: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
#language
{
    border: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
}
.link
{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
}
.link a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
@media(min-width:568px){
    .main{
        border: 1px solid lightgray;
    }
    body{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .footer{
        width: 500px;
    }
}